.hline {
	border-bottom: 2px solid #384452;
}

.hline-w {
	border-bottom: 2px solid #FF4500;
	margin-bottom: 25px;
}
#footerwrap {
	padding-top: 60px;
	padding-bottom: 60px;
	background:#f7d3c7;
	text-align: center!important;
}

#footerwrap p {
	color:#800000;
}

#footerwrap h4 {
	color: #800000;
}

#footerwrap i {
	font-size: 30px;
	color: white;
	padding-right: 25px;
}

#footerwrap i:hover {
	color: #00b3fe;
}