.footer {
	position: fixed; 
    	bottom: 0; 
	left: 0px; 
	right: 0px;
    width:100%;
    background-color: #161616;
    text-align: justify;
 	
}
div{
	color: white;
}
.p{
	color:white;
	font-size: 1em;
	text-decoration-style:Courier;
}
.img{
	width: 2em;
	height: 2em;
}
small{
	color:white; 
	float:right; 
	font-size:1em;
	}
.a{
	text-decoration: none;
	color:white;
}
h3{
	text-align: center;
	font-size: 1.5em;
	text-shadow: 1px 1px 2px #000, 0 0 0 #000, 1px 1px 2px #000;
	font-family: Alegreya, serif;
}





