#menu ul {
	padding:5px;
	margin:1px;
	background-color:#EDEDED;
	list-style:none;
	font:80% Tahoma;
}
#menu ul li { display: inline; }

#menu ul li a {
	color: #333;
	text-decoration: none;
	border-bottom:1px solid #EDEDED;
	padding: 1px 15px;
	float:center;
}

#menu ul li a:hover {
	background-color:#D6D6D6;
	color: #6D6D6D;
	border-bottom:3px solid #EA0000;
}
.nh {
	color:red;
}
.nh1 {
	border-radius: 50%;
	background-color: gray;
}