.f{
	background-color:#ea8457;
}
.ee{  font-family: Comic Sans, Comic Sans MS, cursive;
    font-size: 3em;
    font-weight: 300;
    line-height: 55px;
    margin-bottom: 25px;
    text-align: center;
    text-transform: none;
}
.zs{
	font-family: Andale Mono, monospace;
	font-size: 2em;
}
.ii{
	
    text-align: center;
    background-color:#ff8c00;
    width: 10em;
}
.enviar {
	  -webkit-border-radius: 28;
	  -moz-border-radius: 28;
	  border-radius: 28px;
	  font-family: Georgia;
	  color:#800000;
	  font-size: 26px;
	  background: white;
	  padding: 10px 20px 10px 20px;
	  text-decoration: none;
}
.enviar:hover {
	background: #db8f7d;
	text-decoration: none;
}